doc/*.html
doc/lib/bootstrap/css/bootstrap*.map
doc/idx.json
doc/doc.json
doc/lib
Makefile
config.status
lib/config.js
arch/homebrew/makebrew.sh
arch/debian/makedeb.sh
lib/so
preprocessor/so
modules/so
so
ulib/so
ChangeLog
lib/nodejs/ast.js
lib/nodejs/batch.js
lib/nodejs/compiler-utils.js
lib/nodejs/compiler.js
lib/nodejs/error.js
lib/nodejs/hiphop.js
lib/nodejs/lang.js
lib/nodejs/machine.js
lib/nodejs/net.js
lib/nodejs/parallelmap.js
lib/nodejs/queue.js
lib/nodejs/signal.js
lib/nodejs/sweep.js
etc/hiphop.el.in
tests/TEST
tests/node_modules
npm
._*.js
._*.js.map
*~
