/*=====================================================================*/
/*    serrano/prgm/project/hiphop/hiphop/doc/circuit/circuit.css       */
/*    -------------------------------------------------------------    */
/*    Author      :  manuel serrano                                    */
/*    Creation    :  Mon Jan 12 13:41:26 2026                          */
/*    Last change :  Wed Jan 14 08:03:31 2026 (serrano)                */
/*    Copyright   :  2026 manuel serrano                               */
/*    -------------------------------------------------------------    */
/*    Default CSS style for HipHop circuits                            */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    color                                                            */
/*---------------------------------------------------------------------*/
svg.circuit {
    --stroke-color: #555555;
    --or-color: #22aa22;
    --and-color: #2222bb;
    --reg-color: #ff8b1e;
    --circuit-color: black;
    --assig-color: #555555;
}

/*---------------------------------------------------------------------*/
/*    Labels                                                           */
/*---------------------------------------------------------------------*/
svg text {
    font-size: 11pt;
    font-family: monospace;
}

/*---------------------------------------------------------------------*/
/*    wire                                                             */
/*---------------------------------------------------------------------*/
svg g.wire {
    stroke-width: 1px;
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    dot                                                              */
/*---------------------------------------------------------------------*/
svg circle.branch {
    fill: black;
}

svg circle.not {
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    reg ...                                                          */
/*---------------------------------------------------------------------*/
svg .reg {
    stroke: var(--reg-color);
    stroke-width: 2px;
}

/*---------------------------------------------------------------------*/
/*    assig ...                                                        */
/*---------------------------------------------------------------------*/
svg .assig {
    stroke: var(--assig-color);
    stroke-width: 2px;
}

/*---------------------------------------------------------------------*/
/*    logical                                                          */
/*---------------------------------------------------------------------*/
svg g.logical * {
    stroke-width: 2px;
}

svg g.and path {
    stroke: var(--and-color);
}

svg g.or path {
    stroke: var(--or-color);
}

/*---------------------------------------------------------------------*/
/*    circuit                                                          */
/*---------------------------------------------------------------------*/
svg path.circuit {
    stroke: var(--circuit-color);
}
