/*=====================================================================*/
/*    serrano/prgm/project/hiphop/hiphop/doc/circuit/circuit.css       */
/*    -------------------------------------------------------------    */
/*    Author      :  manuel serrano                                    */
/*    Creation    :  Mon Jan 12 13:41:26 2026                          */
/*    Last change :  Wed Jan 21 07:46:06 2026 (serrano)                */
/*    Copyright   :  2026 manuel serrano                               */
/*    -------------------------------------------------------------    */
/*    Default CSS style for HipHop circuits                            */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Default color scheme                                             */
/*---------------------------------------------------------------------*/
:root {
    --stroke-color: #111111;
}

/*---------------------------------------------------------------------*/
/*    Labels                                                           */
/*---------------------------------------------------------------------*/
svg text {
    font-size: 11pt;
    font-family: monospace;
}

/*---------------------------------------------------------------------*/
/*    wire                                                             */
/*---------------------------------------------------------------------*/
svg g.wire {
    stroke-width: 1px;
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    dot                                                              */
/*---------------------------------------------------------------------*/
svg circle.branch {
    fill: black;
}

svg circle.not {
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    reg ...                                                          */
/*---------------------------------------------------------------------*/
svg .reg {
    stroke-width: 2px;
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    assig ...                                                        */
/*---------------------------------------------------------------------*/
svg .assig {
    stroke-width: 2px;
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    logical                                                          */
/*---------------------------------------------------------------------*/
svg g.logical {
    stroke-width: 2px;
    stroke: var(--stroke-color);
}

/*---------------------------------------------------------------------*/
/*    synchronizer                                                     */
/*---------------------------------------------------------------------*/
svg path.synchronizer {
    stroke-dasharray: 12 6;
}

svg text.synchronizer {
    letter-spacing: 5px;
}

/*---------------------------------------------------------------------*/
/*    circuit                                                          */
/*---------------------------------------------------------------------*/
svg path.circuit {
    stroke: inherit;
}
