/*=====================================================================*/
/*    serrano/prgm/project/hiphop/hiphop/doc/circuit/circuit.css       */
/*    -------------------------------------------------------------    */
/*    Author      :  manuel serrano                                    */
/*    Creation    :  Mon Jan 12 13:41:26 2026                          */
/*    Last change :  Mon Jan 12 14:53:53 2026 (serrano)                */
/*    Copyright   :  2026 manuel serrano                               */
/*    -------------------------------------------------------------    */
/*    Default CSS style for HipHop circuits                            */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    color                                                            */
/*---------------------------------------------------------------------*/
svg.circuit {
    --stroke-color: #555555;
    --or-color: #22aa22;
    --and-color: #2222bb;
    --reg-color: #dd2222;
}

/*---------------------------------------------------------------------*/
/*    Labels                                                           */
/*---------------------------------------------------------------------*/
svg text {
    font-size: 11pt;
    font-family: monospace;
}

/*---------------------------------------------------------------------*/
/*    wire                                                             */
/*---------------------------------------------------------------------*/
svg g.wire {
    stroke-width: 1px;
}

/*---------------------------------------------------------------------*/
/*    dot                                                              */
/*---------------------------------------------------------------------*/
svg circle.branch {
    fill: black;
}

/*---------------------------------------------------------------------*/
/*    logical                                                          */
/*---------------------------------------------------------------------*/
svg g.logical {
    stroke-width: 2px;
}
